.fixed-header-bg {
  background-color: #666666!important;
}

ul {
  margin-bottom: 0;
}

.blog {

  &-list {
    &-item {
      margin-bottom: 30px;
    }
    margin-top: 0;
  }

  &-border {
    margin-top: 0;
  }
}




