.features {
  min-height: 100vh;

  @include title(#eeeeee, #3b4954);

  &-title {
    margin-top: 80px;

    @media (max-width: $md) {
      margin-top: 40px;
    }
  }

  &-list {

    li {
      margin-top: 60px;
    }

    &-title {
      color: black;
      font: 300 24px/30px $font;
    }

    &-content {
      color: #3b4954;
      font: 300 14px/24px $font;
      margin: 0 20px 0 60px;
      max-width: 400px;
    }
  }

  .doc {
    margin-left: 55px;
  }

  h3 {
    display: flex;
  }

  .design::before {
    content: "";
    background: url("../../../img/brilliant.png");
    width: 39px;
    height: 39px;
    display: block;
    margin-right: 20px;
  }

  .on-mouse::before {
    content: "";
    background: url("../../../img/title.png");
    width: 36px;
    height: 33px;
    display: block;
    margin-right: 20px;
  }

  .documentation::before {
    content: "";
    background: url("../../../img/documentation.png");
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 20px;
  }

  .responsive::before {
    content: "";
    background: url("../../../img/cloud.png");
    width: 41px;
    height: 26px;
    display: block;
    margin-right: 20px;
  }
}