.steal {

  height: 450px;

  &-title {
    color: #3b4954;
    font: 300 36px $font;
    @include separator(#eeeeee);

    @media (max-width: $sm) {
      font: 300 30px $font;
    }
  }

  &-content {
    font: 300 18px/30px $font;
    color: #3b4954;
    margin: 50px 0;

    @media (max-width: $sm) {
      font: 300 15px/20px $font;
      margin: 30px 0;
    }
  }

  a {
    @include make-button(15px, 15px);
  }

}