.team {
  min-height: 100vh;

  @include title(#eee, #3b4954);

  &-list {

    margin-top: 50px;

    li {
      position: relative;
    }

    img {
      position: absolute;
      z-index: -1;
    }

    .team-wrapper {
      height: 380px;
      width: 210px;
      border: 1px solid #eee;
      display: flex;
      flex-direction: column;
    }

    .slider {
      display: flex;
      flex-direction: column;
      width: 210px;
      align-items: center;
      margin-top: 160px;
      background-color: #fff;
      height: 130px;
      transition: all 1s;

      &:hover {
        height: 0;

        .teammate-info {
          height: 0;
          padding: 0;
        }
      }
    }

    .teammate-info {
      border: 1px solid #eee;
      width: 140px;
      padding: 10px;
      text-align: center;
      background-color: #fff;
      margin-top: -30px;
      transition: all 1s;

      &-name {
        color: #02baab;
        font: 400 14px/18px $font;
        margin-bottom: 0;
      }

      &-position {
        color: #c4c4c4;
        font: 400 12px/18px $font;
        margin-bottom: 0;
      }
    }

    &-content {
      color: #3b4954;
      font: 300 12px/24px $font;
      max-width: 160px;
      text-align: center;
      margin-bottom: 0;
      margin-top: 30px;
    }
  }

  &-more {
    @include make-button(40px, 15px);
    position: absolute;
    bottom: 30px;
    align-self: center;
  }
}